<div mat-dialog-title>
  <mat-toolbar>
    <span>
      <div class="vl">
        <p class="title">New Message</p>
      </div>
    </span>
    <span class="example-spacer"></span>
    <i class="fa fa-close" mat-dialog-close></i>
  </mat-toolbar>
</div>
<div mat-dialog-content>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)" class="form">
    <mat-form-field appearance="fill" floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="To" formControlName="receiver" required>
    </mat-form-field><br>
    <mat-form-field appearance="fill" floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="From" formControlName="sender" readonly>
    </mat-form-field><br>
    <mat-form-field appearance="fill" floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Subject" formControlName="subject" required>
    </mat-form-field><br>
    <mat-form-field appearance="fill" floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Message" formControlName="message" required>
    </mat-form-field><br>
    <div class="form-element">
      <button mat-button color="primary" type="submit" class="button submit_btn"
        [disabled]="!messageForm.valid">Send</button>
    </div>
  </form>
</div>
