<header>
    <mat-toolbar>
        <span class="logo_text"><img src="assets/image.png" alt="Logo" class="logo_img img-responsive"> Herolo
            Message</span>
        <span class="example-spacer"></span>
        <div class="logout_link">
            <a class="logout_link" (click)="logout()">Logout <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </mat-toolbar>
</header>

<div class="container" style="min-height: 72vh;">
    <div class="">
        <p class="welcome_text">Welcome, {{currentUser}}</p>
    </div>
    <button mat-button (click)="openDialog()">Write a Message</button>

    <div class="row">
        <mat-card>
            <div class="card">
                <mat-toolbar>
                    <i [routerLink]="['/dashboard']" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    <h3 class="mat-card-title">{{ message?.subject }}</h3>
                    <p class="card_subtitle" *ngIf="tabClicked === 'receive'">By {{ message?.sender }}</p>
                    <p class="card_subtitle" *ngIf="tabClicked === 'sent'">To {{ message?.receiver }}</p>
                    <span class="example-spacer"></span>
                    <div class="time_class">
                        <p class="time_class">{{ message?.created | dateAgo}}</p>
                    </div>
                </mat-toolbar>
            </div>
            <div class="inner_message_card">
                <p class="message_body">
                    {{message?.message }}
                </p>
            </div>
        </mat-card>
    </div>
</div>

<footer>
    <p>
        <mat-toolbar>
            <span class="copyright_text">&copy;Copyright {{currentYear}} by iView Labs Pvt. Ltd. All rights
                reserved.</span>
        </mat-toolbar>
    </p>
</footer>