<header>
    <mat-toolbar>
        <span class="logo_text"><img src="assets/image.png" alt="Logo" class="logo_img img-responsive"> Herolo
            Message</span>
        <span class="example-spacer"></span>
        <div class="logout_link">
            <a class="logout_link" (click)="logout()">Logout <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </mat-toolbar>
</header>

<div class="container" style="min-height: 72vh;">
    <div class="">
        <p class="welcome_text">Welcome, {{currentUser}}</p>
    </div>
    <button mat-button (click)="openDialog()">Write a Message</button>

    <mat-card class="main_card">
        <div class="main_title">
            <p class="title1">Messages</p>
        </div>
        <mat-tab-group mat-align-tabs="end" [selectedIndex]="selectedTab" animationDuration="0ms" (selectedTabChange)="tabClick($event)">
            <mat-tab label="Receive">
                <div class="row" *ngIf="!noData">
                    <a class="detail_link" *ngFor="let eachMsg of receiveMessageListing ">
                        <div class="sub_card">
                            <mat-toolbar>
                                <h3 class="mat-card-title">{{eachMsg.subject}}</h3>
                                <p class="card_subtitle">By {{eachMsg.sender}}</p>
                                <span class="example-spacer"></span>
                                <div class="time_class">
                                    <p class="time_class">{{eachMsg.created | dateAgo}}</p>
                                </div>
                                <i class="fa fa-trash icon" (click)="deleteDialog(eachMsg.id)"></i>
                                <i class="fa fa-chevron-right icon" [routerLink]="['messagedetail', eachMsg.id]"></i>
                            </mat-toolbar>
                        </div>
                    </a>
                </div>
                <div class="no_data_content text-center" *ngIf="noData">
                    <div class="">
                        <img src="assets/no_data.png" alt="No Data" class="nodata_img">
                        <p class="nodata_title">No Data Found</p>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Sent">
                <div class="row" *ngIf="!noData">
                    <a class="detail_link" *ngFor="let eachMessage of sentMessageListing ">
                        <div class="sub_card">
                            <mat-toolbar>
                                <h3 class="mat-card-title">{{eachMessage.subject}}</h3>
                                <p class="card_subtitle">To {{eachMessage.receiver}}</p>
                                <span class="example-spacer"></span>
                                <div class="time_class">
                                    <p class="time_class">{{eachMessage.created | dateAgo}}</p>
                                </div>
                                <i class="fa fa-trash icon" (click)="deleteDialog(eachMessage.id)"></i>
                                <i class="fa fa-chevron-right icon" [routerLink]="['messagedetail', eachMessage.id]"></i>

                            </mat-toolbar>
                        </div>
                    </a>
                </div>
                <div class="no_data_content text-center" *ngIf="noData">
                    <div class="">
                        <img src="assets/no_data.png" alt="No Data" class="nodata_img">
                        <p class="nodata_title">No Data Found</p>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>


<footer>
    <p>
        <mat-toolbar>
            <span class="copyright_text">&copy;Copyright {{currentYear}} by iView Labs Pvt. Ltd. All rights
                reserved.</span>
        </mat-toolbar>
    </p>
</footer>